.form-control {
    border-radius: 29px;
}

.tabela {
    height: 450px;
    overflow-x: auto;
    overflow-y: auto;
}

.pointer {
    cursor: pointer;
}

.row {
    margin: 0;
}

body {
    margin: 0;
    background-color: #a52f2a;
}
